/* VARIABLES */
:root {
    --c-dark: #212121;
    --c-purple: #72578f;
    --c-dark-purple: #231a2e;
    --c-yellow: #F9E400;
    --c-orange: #FFAF00;
    --c-red: #F5004F;
    --c-font-base: "Poppins", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    --c-rgb-dark-purple: rgba(37, 31, 44, 1);
}

/* HELPERS */
body {
    font-family: var(--c-font-base);
    line-height: 1.7;
    color: var(--c-dark);
}

h1, h2, h3, h4, 
.h1, .h2, .h3, .h4{
    font-weight: 700;
    color: var(--c-yellow); 
    text-shadow: 5px 5px #ff0000;
}   

h5, .h5, h6, .h6 {
    font-weight: 700;
    color: var(--c-yellow); 
    text-shadow: 2px 2px #ff0000;
}

a {
    text-decoration: none;
    color: var(--c-purple);
    transition: var(--transition);
}

p {
    font-weight: 600;
    color: var(--c-orange);
}

a:hover {
    color: var(--c-red);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* NAVBAR */
.navbar {
    background-color: var(--c-purple);
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    max-width: 5%;
    max-height: 5%;
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-yellow);
    text-shadow: 2px 2px #ff0000;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

.navbar-nav .nav-link.active{
    color: var(--c-yellow);
}

/* HERO */
#hero {
    background: linear-gradient(rgba(102, 73, 182, 0.5), var(--c-rgb-dark-purple)), url(../image/checker.jpg);
    background-position: center;
    background-size: cover;
}

/* ABOUT */
#about {
    background-color: var(--c-dark-purple);
    background-position: center;
    background-size: cover;
}

#about img {
    border: 5px solid var(--c-orange);
    border-radius: 10px;
    box-shadow: 20px 20px var(--c-red);
    padding-bottom: 5px;
}

/* MEMBERS */
#members {
    background-color: var(--c-orange);
}

/* SCHUEDULE */
#schedule {
    background-color: var(--c-yellow);
}

#schedule td{
    background-color: mediumaquamarine;
}

#schedule th{
    background-color: mediumseagreen;
}


/* SECTION TITLE*/
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-yellow);
    margin: 16px auto 24px auto;
}

.section-title .line-long {
    height: 4px;
    background-color: var(--c-yellow);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: var(--c-orange);
}

.section-title-dark h1 {
    color: var(--c-dark-purple);
}

.section-title-dark h5 {
    color: var(--c-orange);
}

.section-title-dark p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: black;
}


/* IMAGE ZOOM*/

.image-zoom {
    position: relative;
    overflow: visible;
}

.image-zoom-wrapper {
    overflow: visible;
    position: relative;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
    box-shadow: -25px -25px var(--box-shadow);
}

/* CONTACT */
#contact {
    background-color: var(--c-dark-purple);
}

/* CONTACT FORM */
form {
    background-color: var(--c-purple);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 15px 15px var(--c-red);
}

form h3 {
    color: var(--c-orange);
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: #ff0000;
}

form input, textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--c-orange);
}

form button {
    padding: 15px;
    background: #F5004F;
    color: #FFAF00;
    font-size: 18px;
    border: 0;
    outline: none;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* MUSIC */
#music {
    background-color: teal;
}

@media screen and (min-width = 800px){
    iframe {
        width: 300px;
        height: 400px;
    }
}
@media screen and (min-width = 600px){
    iframe {
        width: 200px;
        height: 300px;
    }
}

/* FOOTER */
footer {
    background-color: var(--c-dark);
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.icon a i {
    font-size: 2em;
    color: #231a2e;
    opacity: 0.9;
}

/* HOVER ICON */
.icon a:hover{
    background-color: #231a2e;
    transition: 0.5s;
}

.icon a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-bottom p{
    color: white;
    padding: 20px;
    text-align: center;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}